{{#each posts as |post|}}
</br>
<div class="card ms-5 w-75">
  <div class="card-header text-white d-flex flex-row justify-content-between" style="background-color:rgb(88, 84, 84)">
    <div style="font-size:20px">
      {{post.heading}}
    </div>
    <div style="font-size:13px">
      <p>Posted by {{username}} on {{createDate}}</p>
    </div>
  </div>
  <div class="card-body">
    <p>{{post.description}}</p>
 </div>
</div>
{{/each}}