<div>
    <div>
        <h3>Create New Post</h3>
    </div>
    <div>
        <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title">
        </div>
        <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <input type="text" class="form-control" id="content">
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</div>