<div class="card mx-auto w-50 mt-5" style="border:2px solid rgb(88, 84, 84)">
    <div class="card-header" style="background-color:rgb(88, 84, 84)">
        <h3>Create New Post</h3>
    </div>
    <div class="card-body px-4 py-3 ">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Content</label>
            <input type="text" class="form-control" id="content">
        </div>
        <button type="submit" id = "submitbtn" class="btn btn-primary" style="background-color:rgb(88, 84, 84)">Create</button>
    </div>
</div>

<script src="./js/dashboard.js"></script>