<header>
    {{> header}}
    <h1>The Tech Blog</h1>
</header>
<main>
<div class="card mx-auto w-50 mt-5" style="border:2px solid rgb(88, 84, 84)">
<div class="card-header" style="background-color:rgb(88, 84, 84)">
    Sign Up
</div>
<form class="card-body px-4 py-3 ">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" placeholder="username">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary" style="background-color:rgb(88, 84, 84)">Submit</button>
    <a href="/login">Login Instead!</a>
  </form>
  </div>

  <script src="./js/script.js"></script>